[user]
	name = Kyle Stiemann
	email = stiemannkj1@gmail.com
[core]
	editor = /bin/nano
	pager = /bin/less -R -+S
	excludesfile = /home/kylestiemann/.global-gitignore
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[pager]
	log  = diff-highlight | /bin/less -R -+S
	show = diff-highlight | /bin/less -R -+S
	diff = diff-highlight | /bin/less -R -+S
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
