[user]
	name = Kyle Stiemann
	email = stiemannkj1@gmail.com
[core]
	editor = /opt/local/bin/nano
	pager = /usr/bin/less -+S
	excludesfile = /Users/kylestiemann/.global-gitignore
[credential]
	helper = osxkeychain
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
