include "/Users/kylestiemann/.nano/syntax/awk.nanorc"
include "/Users/kylestiemann/.nano/syntax/c.nanorc"
include "/Users/kylestiemann/.nano/syntax/css.nanorc"
include "/Users/kylestiemann/.nano/syntax/default.nanorc"
include "/Users/kylestiemann/.nano/syntax/dot.nanorc"
include "/Users/kylestiemann/.nano/syntax/email.nanorc"
include "/Users/kylestiemann/.nano/syntax/git.nanorc"
include "/Users/kylestiemann/.nano/syntax/html.nanorc"
include "/Users/kylestiemann/.nano/syntax/inputrc.nanorc"
include "/Users/kylestiemann/.nano/syntax/java.nanorc"
include "/Users/kylestiemann/.nano/syntax/javascript.nanorc"
include "/Users/kylestiemann/.nano/syntax/json.nanorc"
include "/Users/kylestiemann/.nano/syntax/man.nanorc"
include "/Users/kylestiemann/.nano/syntax/markdown.nanorc"
include "/Users/kylestiemann/.nano/syntax/nanorc.nanorc"
include "/Users/kylestiemann/.nano/syntax/patch.nanorc"
include "/Users/kylestiemann/.nano/syntax/properties.nanorc"
include "/Users/kylestiemann/.nano/syntax/sed.nanorc"
include "/Users/kylestiemann/.nano/syntax/shell.nanorc"
include "/Users/kylestiemann/.nano/syntax/systemd.nanorc"
include "/Users/kylestiemann/.nano/syntax/vi.nanorc"
include "/Users/kylestiemann/.nano/syntax/xml.nanorc"

set nowrap
set softwrap
set tabsize 4
# Use smooth scrolling.
set smooth
# Search with regexs.
set regexp
# Save a history of searches.
set historylog
# Always display cursor position in the status bar.
set const
# set undo
set mouse
set cut
set autoindent
set backup

# bind Ω undo main
# bind ¸ redo main
# bind ^C copytext main
# bind ^V uncut

